<a href="/questions">Home</a>
<a href="/questions/new">New Question</a>
<br><br>

<!--  Should Show WHo asked the question. -->

<h2><%=@question.user.username%></h2>
<!--Is giving an error if there's no user. due to seed -->
<h3><%=@question.content%></h3>

<% if @question.user == current_user %>
<a href="/questions/<%=@question.id%>/edit">Edit Question</a>

<!-- Deleting Question -->
<form action="/questions/<%=@question.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit"  value="Delete Question">
</form>
<%end%>
<br><br><br>

<form action="/comments/<%=@question.id%>/new" method="post">
  <label>Add A Comment:</label>
  <input type="text" name="content" id="comment">
  <input type="submit" value="Add Comment">
</form>
<br><br>
<div class="comments">
  <%@question.comments.each do |comment|%>
    <p><%=comment.user.username%> answered:</p>
    <p> <a href="/comments/<%=comment.id%>"><%=comment.content%><p></a>
  <%end%>
</div>
